<h1>Edit Flat</h1>
<div>
  <%= render "shared/form" %>
  <%= button_to "Remove", flat_path(@flat), method: :delete, class:"no-style fa-solid fa-trash button-action", data: { confirm: 'Are you sure you want to delete this flat?' }  %>
</div>
